.root {
  position: relative;
  margin: 0 10px 0 10px;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 20px 8px 45px;
  border-radius: 12px;
  font-size: 16px;
  width: 300px;

  @media (max-width: 960px) {
    width: 200px
  }

  @media (max-width: 800px) {
    width: 120px
  }
  @media (max-width: 760px) {
    width: 300px
  }

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.icon {
  width: 24px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  left: 12px;
  top: 9px;
}

.clearIcon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 11px;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

}